{% extends 'base.html' %}
{% block content %}
          <!-- Header -->
          <div class="container mt-5">
            <div class="card my-5 py-4 text-center border-0">
              <div class="card-body">
                <form class="row g-3" action="{% url 'ad_filter_url' %}" method="GET">

                  <h3>Filtrlash</h3>

                  <div class="search-filter">
                    <div class="search-item m-2">
                      <label for="category" class="form-label">Kategoriya</label>
                      <select class="form-select mx-2" id="category" name="category" aria-label="Default select example">
                        <option selected>Kategoriyani tanlang</option>
                        <option value="Ko'chmas mulk">Ko'chmas mulk</option>
                        <option value="Transport">Transport</option>
                        <option value="Elektrotexnika">Elektrotexnika</option>
                        <option value="Ish o'rni">Ish o'rni</option>
                      </select>
                    </div>

                    <div class="search-item m-2">
                      <label for="min_price" class="form-label">Minimum Narx</label>
                      <input type="text" id="min_price" name="min_price" class="form-control price-input-filter mx-2" placeholder="Minimum narx">
                    </div>

                    <div class="search-item m-2">
                      <label for="max_price" class="form-label">Maksimum Narx</label>
                      <input type="text" id="max_price" name="max_price" class="form-control price-input-filter mx-2" placeholder="Maksimum narx">
                    </div>

                    <div class="search-item m-2">
                      <label for="region" class="form-label">Hudud</label>
                      <select class="form-select" id="region" name="region" aria-label="Default select example">
                        <option selected>Hududni tanlang</option>
                        <option value="Toshkent">Toshkent</option>
                        <option value="Qarshi">Qarshi</option>
                        <option value="Buxoro">Buxoro</option>
                        <option value="Navoiy">Navoiy</option>
                        <option value="Andijon">Andijon</option>
                        <option value="Namangan">Namangan</option>
                        <option value="Farg'ona">Farg'ona</option>
                        <option value="Guliston">Guliston</option>
                        <option value="Termiz">Termiz</option>
                        <option value="Samarqand">Samarqand</option>
                        <option value="Xorazm">Xorazm</option>
                        <option value="Nukus">Nukus</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-lg mb-3">Izlash</button>
                  </div>
                </form>
              </div>
            </div>
            <hr>
          </div>

        <div class="container">
            <!-- Page Features-->
            <div class="row">

              <div class="col-lg-10 offset-lg-1">

                  <div class="row">

                    {% for i in a %}
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <a href="{% url 'single_ad_url' i.id %}" class="poster-link"><img src="{{ i.img.url }}" class="img-fluid rounded-start img-board" alt="..."></a>
                        </div>
                        <div class="col-md-9">
                          <div class="card-body flex-poster-body">
                            <div class="flex-poster-title">
                              <div class="title-item-one"><a href="{% url 'single_ad_url' i.id %}" class="poster-link">
                                <span class="card-title poster-title poster-link poster-flexible">{{ i.name }}</span>
                              </a></div>
                              <h5 class="title-item-two">{{ i.price }} SO'M</h5>
                            </div>
                            <div><p class="card-text"><small class="text-muted">{{ i.address }} - {{ i.date }}</small></p></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                  </div>
              </div>
            </div>
        </div>
{% endblock %}
