{% extends 'base.html' %}
{% block content %}

        <div class="container mtt">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="card p-4 mb-5">
                <form class="form" action="{% url 'register_url' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="example@mail.com" name="email" id="email" required>
                  </div>
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="Eshmatov Toshmat" name="username" id="username" required>
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone number</label>
                    <input type="text" class="form-control" placeholder="998911234567" name="phone_number" id="phone" required>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                  </div>
                  <div class="mb-3">
                    <label for="avatar" class="form-label">Avatar</label>
                    <input type="file" class="form-control" name="img" id="avatar" required>
                  </div>
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Registratsiya</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

